/* Stylesheet for Sedat Demiriz website */

/* 
polar-night:
    #2e3440     darkest
    #3b4252     dark
    #434c5e     light
    #4c566a     lightest

snow-storm:
    #d8dee9     darkest
    #e5e9f0     mid
    #eceff4     lightest

frost:
    #8fbcbb     greenish
    #88c0d0     teal
    #81a1c1     light blue
    #5e81ac     dark blue

aurora:
    #bf616a     red
    #d08770     orange
    #ebcb8b     yellow
    #a3be8c     green
    #b48ead     purple
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    /* Coloring */
    background-color: #3b4252;
    font-family: Merriweather;
}

#container {
    /* Coloring */
    background-color: #4c566a;

    /* Layout */
    width: 65%;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

.segment{
    /* Coloring */
    color: #88c0d0;

    /* Layout */
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

#menubar{
    /* Layout */
    padding: .5rem 2rem;
    margin-top: 1rem;
}

#menu-list{
    /* Layout */
    display: flex;
    justify-content: center;
}

.menu-item{
    /* Coloring */
    color: #d8dee9;
    background-color: #5e81ac;

    /* Font */
    font-weight: 1000;

    /* Layout */
    width: 5rem;
    text-align: center;
    text-decoration: none;
    padding: .7rem 1rem .7rem 1rem;
    margin: 0rem 1rem;
}

.menu-item:hover{
    /* Animation */
    transition: all .2s ease;
    transform: scale(1.05);

    /* Effects */
    box-shadow: 0px 3px 12px black;
}

#bio-container {
    /* Coloring */
    background-color: #d8dee9;

    /* Layout */
    justify-content: center;
    text-align: justify;
    align-items: center;
    display: flex;
    margin: auto;
    width: 90%;
    margin-top: 2rem;
}

#headshot{
    /* Layout */
    width: 30%;
    padding: 2rem;
    margin-left: 3rem;
}

#bio-text{
    /* Coloring */
    color: #b48ead;

    /* Layout */
    width: 65%;
    margin-left: 2rem;
    margin-right: 3rem;

    /* Font */
    font-weight: 1000;
}

#resume{
    /* Coloring */
    color: #d8dee9;

    /* Layout */
    text-align: center;
}

#resume-list{
    /* Layout */
    display: flex;
    justify-content: space-evenly;
}

.resume-item{
    /* Coloring */
    background-color: #d8dee9;
    color: #b48ead;

    /* Layout */
    align-items: stretch;
    padding: 0.5rem;
    width: 30%;
}

.resume-subitem-list{
    /* Layout */
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.resume-subitem{
    /* Coloring */
    background-color: #5e81ac;

    /* Layout */
    width: 20%;
    padding: 0.3rem 0.5rem;
}

#projects{
    /* Coloring */
    color: #d8dee9;
    text-align: center;
}

#projects-list{
    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.projects-item{
    /* Coloring */
    background-color: #d8dee9;
    color: #b48ead; 

    /* Layout */
    align-items: stretch;
    padding: 1rem;
    width: 30%;
}

.projects-item:hover{
    /* Animation */
    transition: all .2s ease;
    transform: scale(1.05);

    /* Effects */
    box-shadow: 0px 3px 12px black;
}

#contacts{
    /* Coloring */
    color: #d8dee9;

    /* Layout */
    text-align: center;
    text-decoration: none;
}

#contacts-list{
    /* Layout */
    display: flex;
}

#contacts-item{

}

.shadow {
    /* Effects */
    box-shadow: 0px 3px 12px black;
    outline: none;
}

.round{
    border-radius: 1rem;
}

