/* Stylesheet for Sedat Demiriz website */

/* 
polar-night:
    #2e3440     darkest
    #3b4252     dark
    #434c5e     light
    #4c566a     lightest

snow-storm:
    #d8dee9     darkest
    #e5e9f0     mid
    #eceff4     lightest

frost:
    #8fbcbb     greenish
    #88c0d0     teal
    #81a1c1     light blue
    #5e81ac     dark blue

aurora:
    #bf616a     red
    #d08770     orange
    #ebcb8b     yellow
    #a3be8c     green
    #b48ead     purple
*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    /* Coloring */
    background-color: #3b4252;
    font-family: Merriweather;

    /* Misc Attributes */
    -moz-user-select: none;
    -webkit-user-select: none;
}

#container {
    /* Coloring */
    background-color: #4c566a;

    /* Layout */
    width: 65%;
    padding: 1rem 2rem;
    margin-left: auto;
    margin-right: auto;
}

.sub-title {
    /* Coloring */
    color: #88c0d0;

    /* Layout */
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2.5rem;

    /* Font */
    font-weight: bolder;
    font-size: 1.5rem;
}

#menubar {
    /* Layout */
    padding: .5rem 2rem;
    margin-top: 1rem;
}

#menu-list {
    /* Layout */
    display: flex;
    justify-content: center;
}

.menu-item {
    /* Coloring */
    color: #d8dee9;
    background-color: #5e81ac;

    /* Font */
    font-weight: bolder;

    /* Layout */
    width: 6rem;
    text-align: center;
    text-decoration: none;
    padding: .7rem 1rem .7rem 1rem;
    margin: 0rem 1rem;
}

.menu-item:hover {
    /* Animation */
    transition: all .2s ease;
    transform: scale(1.1);

    /* Effects */
    box-shadow: 0px 3px 12px black;
}

#bio {
    /* Coloring */
    background-color: #d8dee9;

    /* Layout */
    text-align: justify;
    align-items: center;
    display: flex;
}

#headshot {
    /* Layout */
    width: 25%;
    padding: 2rem;
    margin-left: 3rem;
}

#bio-text {
    /* Coloring */
    color: #b48ead;

    /* Layout */
    width: 60%;
    margin-left: 2rem;
    margin-right: 3rem;

    /* Font */
    font-weight: bolder;
}

#resume-list {
    /* Layout */
    display: flex;
    flex-direction: column;
    padding: 0rem;
    margin: 0rem;
}

.resume-item {
    /* Coloring */
    background-color: #d8dee9;
    color: #b48ead;

    /* Layout */
    text-align: left;
    display: flex;
    margin: .5rem 0rem .5rem 0rem;
}

.resume-img {
    /* Layout */
    padding: .5rem 1rem;
    margin: .5rem 0rem .5rem 1rem;
}

.resume-item-title {
    /* Layout */
    width: 10rem;
    padding: .5rem 1rem;
    margin: .5rem 0rem .5rem 0rem;
}

.resume-subitem-list {
    /* Layout */
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0rem;
    margin: 0rem;
}

.resume-subitem {
    /* Coloring */
    color: #d8dee9;
    background-color: #5e81ac;

    /* Layout */
    padding: .5rem 1rem;
    margin: .5rem .2rem;
    width: 3rem;
    text-align: center;
}

#experience {
    display: flex;
    flex-direction: column;
}

.exp-item {
    /* Coloring */
    background-color: #d8dee9;
    color: #b48ead;

    /* Layout */
    display: flex;
    justify-content: center;
    margin: 1rem 0rem;
}

.exp-item-img {
    /* Layout */
    width: 15%;
    padding: 1.5rem 2rem;
}

.exp-item-list {
    /* Layout */
    width: 45%;
    padding: 1rem 2rem;
}

.exp-item-title {
    
}

.exp-item-text {

}

#projects {
    /* Layout */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-item {
    /* Coloring */
    background-color: #d8dee9;
    color: #b48ead; 

    /* Layout */
    align-items: stretch;
    text-align: justify;
    padding: 1rem;
    margin-left: .1rem;
    margin-right: .1rem;
    width: 25%;
}

.projects-item:hover {
    /* Animation */
    transition: all .2s ease;
    transform: scale(1.05);

    /* Effects */
    box-shadow: 0px 3px 12px black;
}

#contacts {
    /* Coloring */
    color: #d8dee9;

    /* Layout */
    text-align: center;
    text-decoration: none;
}

#contacts-list {
    /* Layout */
    display: flex;
}

#contacts-item {

}

.shadow {
    /* Effects */
    box-shadow: 0px 3px 12px black;
    outline: none;
}

.round {
    /* Effects */
    border-radius: 1rem;
}

.container {
    /* Layout */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

