/* Stylesheet for Sedat Demiriz website */

/* 
polar-night:
    #2e3440     darkest
    #3b4252     dark
    #434c5e     light
    #4c566a     lightest

snow-storm:
    #d8dee9     darkest
    #e5e9f0     mid
    #eceff4     lightest

frost:
    #8fbcbb     greenish
    #88c0d0     teal
    #81a1c1     light blue
    #5e81ac     dark blue

aurora:
    #bf616a     red
    #d08770     orange
    #ebcb8b     yellow
    #a3be8c     green
    #b48ead     purple
*/

body {
    background-color: #3b4252;
}

.container {
    width: 70%;
    background-color: #4c566a;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;
}

.header{
    color: #d8dee9;
    text-align: left;
}

#segment{
    color: #88c0d0;
    text-align: left;
}

.menubar{
    
}

.menu-list{
    background-color: #3b4252;

    padding: 0.74rem 0.74rem;
    border-radius: 1rem;
    box-shadow: 3px 3px 3px black;

    /* display: flex; */
    /* justify-content: space-evenly; */
}

#menu-item{
    color: #d8dee9;
    text-decoration: none;
    padding: 0.75rem;
}

#menu-item:hover{
    background-color: #5e81ac;
}

.bio {
    color: #d8dee9;
    display: flex;
    text-align: center;
}

.bio-text{
    
}

.resume{
    color: #d8dee9;
    text-align: center;
}

.projects{
    color: #d8dee9;
    text-align: center;
}

.projects-list{
    display: flex;
    justify-content: space-evenly;
}

#projects-item{
    
}

.contacts{
    color: #d8dee9;
    text-align: center;
    text-decoration: none;
}

.contacts-list{
    display: flex;
}

.contacts-item{

}